ASSIGNMENT - 2

Question 1: Create a List L that is defined as= [10, 20, 30, 40, 50, 60, 70, 80].

i) WAP to add 200 and 300 to L.

In [1]:
L=[10,20,30,40,50,60,70,80]
L.append(200)
L.append(300)
print(L)

[10, 20, 30, 40, 50, 60, 70, 80, 200, 300]

ii) WAP to remove 10 and 30 from L.

In [3]:
L.remove(10)
L.remove(30)
print(L)

[20, 40, 50, 60, 70, 80, 200, 300]

iii) WAP to sort L in ascending order.

In [4]:

L.sort()
print(L)

[20, 40, 50, 60, 70, 80, 200, 300]

iv) WAP to sort L in descending order.

In [5]:
L.sort(reverse=True)
print(L)

[300, 200, 80, 70, 60, 50, 40, 20]

Question 2: Create a tuple of marks scored as scores = (45, 89.5, 76, 45.4, 89, 92, 58, 45) and perform the following operations using tuple functions:

i) Identify the highest score and its index in the tuple.

In [6]:
T=(45,89.5,76,45.4,89,92,58,45)
x=max(T)
print("highest score:",x)
ind = T.index(x)
print("index number of highest score:",ind)

highest score: 92
index number of highest score: 5

ii) Find the lowest score and count how many times it appears.

In [7]:
y=min(T)
print("lowest score:",y)
x =T.count(y)
print("No. of times it occured is:",x)

lowest score: 45
No. of times it occured is: 2

iii) Reverse the tuple and return it as a list.

In [8]:
revT=T[::-1]
list(revT)

[45, 58, 92, 89, 45.4, 76, 89.5, 45]

iv) Check if a specific score ‘76’ (input by the user) is present in the tuple and print its first occurrence index, or a message saying it’s not present.

In [9]:
if 76 in T:
   x = (T.index(76))
   print("The index at which 76 is present is:",x) 
else:
    print("It’s not present")

The index at which 76 is present is: 2

Question 3: WAP to create a list of 100 random numbers between 100 and 900. Count and print the:

i) All odd numbers.
ii) All even numbers.
iii) All prime numbers

In [10]:
import random as r
import sympy as s
L=r.sample(range(100,900),100)
print(L)
l1=[x for x in L if not x%2==0]
l2=[x for x in L if x%2==0]
l3=[x for x in L if s.isprime(x)]
print("\n")
print("All odd numbers are:",l1)
print("\n")
print("All even numbers:",l2)
print("\n")
print("All prime numbers are:",l3)

[690, 869, 851, 667, 202, 341, 897, 604, 104, 730, 737, 298, 166, 537, 640, 105, 776, 740, 150, 103, 291, 607, 482, 158, 424, 749, 420, 241, 550, 282, 884, 464, 865, 425, 345, 134, 813, 724, 447, 775, 539, 379, 495, 804, 504, 175, 793, 880, 885, 830, 388, 509, 759, 308, 474, 462, 142, 209, 694, 623, 587, 552, 718, 174, 802, 475, 120, 311, 668, 228, 374, 433, 761, 450, 211, 480, 625, 683, 317, 666, 403, 867, 742, 895, 167, 153, 136, 829, 270, 662, 845, 634, 501, 385, 862, 794, 578, 846, 348, 265]


All odd numbers are: [869, 851, 667, 341, 897, 737, 537, 105, 103, 291, 607, 749, 241, 865, 425, 345, 813, 447, 775, 539, 379, 495, 175, 793, 885, 509, 759, 209, 623, 587, 475, 311, 433, 761, 211, 625, 683, 317, 403, 867, 895, 167, 153, 829, 845, 501, 385, 265]


All even numbers: [690, 202, 604, 104, 730, 298, 166, 640, 776, 740, 150, 482, 158, 424, 420, 550, 282, 884, 464, 134, 724, 804, 504, 880, 830, 388, 308, 474, 462, 142, 694, 552, 718, 174, 802, 120, 668, 228, 374, 450, 480, 666, 742, 136, 270, 662, 634, 862, 794, 578, 846, 348]


All prime numbers are: [103, 607, 241, 379, 509, 587, 311, 433, 761, 211, 683, 317, 167, 829]

Question 4: Consider the following two sets, A and B, representing scores of two teams in multiple matches. A = {34, 56, 78, 90} and B = {78, 45, 90, 23} WAP to perform the following operations using set functions:

i) Find the unique scores achieved by both teams (union of sets).

ii) Identify the scores that are common to both teams (intersection of sets).

iii) Find the scores that are exclusive to each team (symmetric difference).

iv) Check if the scores of team A are a subset of team B, and if team B's scores are a superset of team A.

v) Remove a specific score X (input by the user) from set A if it exists. If not, print a message saying it is not present.

In [11]:
A = {34, 56, 78, 90} 
B = {78, 45, 90, 23}
print("i)",A.union(B))
print("\n")
print("ii)",A.intersection(B))
print("\n")
print("iii)",A.symmetric_difference(B))
print("\n")
if A.issubset(B):
    print("iv) A is subset of B")
if B.issuperset(A):
    print("iv) B is superset of A")
n=float(input('Enter score to check'))
if n in A:
    A.remove(n)
    print(A)
else:
    print("v)",n,' is not present in A')

i) {34, 45, 78, 23, 56, 90}


ii) {90, 78}


iii) {34, 45, 23, 56}

Enter score to check 55

v) 55.0  is not present in A

Question 5: Write a program to rename a key city to a location in the following dictionary.

In [12]:
D={
    "name": "Snehil",
    "age":19,
    "salary": 1000000,
    "city": "Jaipur"
}
D['location']=D['city']
del D['city']
print(D)

{'name': 'Snehil', 'age': 19, 'salary': 1000000, 'location': 'Jaipur'}